DATA 622 - Assignment 2 - Decision Trees Algorithms

Author: Kory Martin     
Date: 3/18/2024

Instructions:

Pre-work:
- Read this blog: https://decizone.com/blog/the-good-the-bad-the-ugly-of-using-decision-trees which shows some of the issues with decision trees
- Choose a dataset from a source in Assignment #1, or another dataset of your choice.

Assignment work:
- Based on the latest topics presented, choose a dataset of your choice and create a Decision Tree where you can solve a classification problem and predict the outcome of a particular feature or detail of the data used.
- Switch variables* to generate 2 decision trees and compare the results. Create a random forest and analyze the results.
- Based on real cases where desicion trees went wrong, and 'the bad & ugly' aspects of decision trees (https://decizone.com/blog/the-good-the-bad-the-ugly-of-using-decision-trees), how can you change this perception when using the decision tree you created to solve a real problem?

Deliverable:
- Essay (minimum 500 word document)
- Write a short essay explaining your analysis, and how you would address the concerns in the blog (listed in pre-work)
Exploratory Analysis using R or Python (submit code + errors + analysis as notebook or copy/paste to document)


Note:
1. We are trying to train 2 different decision trees to compare bias and variance - so swicth the features used for the first node (split) to force a different decision tree (How did the performance change?)
2. You will create 3 models: 2 x decision trees (to compare variance) and a random forest



[eCommerce Customer Service Satisfaction](https://www.kaggle.com/datasets/ddosad/ecommerce-customer-service-satisfaction) data from Kaggle

In [8]:
import pandas as pd
from plotnine import *
from datetime import datetime as dt

In [9]:
cust_satisfaction_df = pd.read_csv('Customer_support_data.csv')

In [ ]:
cust_satisfaction_df['order_date'] = cust_satisfaction_df['order_date_time'].apply(lambda x: dt.strptime(str(x)[:10],'%d/%m/%Y') if not pd.isna(x) else x).copy()
cust_satisfaction_df['response_date'] = cust_satisfaction_df['issue_responded'].apply(lambda x: dt.strptime(str(x)[:10],'%d/%m/%Y') if not pd.isna(x) else x).copy()
cust_satisfaction_df['issue_date'] = cust_satisfaction_df['Issue_reported at'].apply(lambda x: dt.strptime(str(x)[:10],'%d/%m/%Y') if not pd.isna(x) else x).copy()

In [22]:
pd.DataFrame(cust_satisfaction_df.columns)

                          0
0                 Unique id
1              channel_name
2                  category
3              Sub-category
4          Customer Remarks
5                  Order_id
6           order_date_time
7         Issue_reported at
8           issue_responded
9      Survey_response_Date
10            Customer_City
11         Product_category
12               Item_price
13  connected_handling_time
14               Agent_name
15               Supervisor
16                  Manager
17            Tenure Bucket
18              Agent Shift
19               CSAT Score
20               order_date
21               issue_date
22            response_date

In [19]:
cust_satisfaction_df

,Unique id,channel_name,category,Sub-category,Customer Remarks,Order_id,order_date_time,Issue_reported at,issue_responded,Survey_response_Date,...,connected_handling_time,Agent_name,Supervisor,Manager,Tenure Bucket,Agent Shift,CSAT Score,order_date,issue_date,response_date
0,7e9ae164-6a8b-4521-a2d4-58f7c9fff13f,Outcall,Product Queries,Life Insurance,NaN,c27c9bb4-fa36-4140-9f1f-21009254ffdb,NaN,01/08/2023 11:13,01/08/2023 11:47,01-Aug-23,...,NaN,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,Morning,5,NaT,2023-08-01,2023-08-01
1,b07ec1b0-f376-43b6-86df-ec03da3b2e16,Outcall,Product Queries,Product Specific Information,NaN,d406b0c7-ce17-4654-b9de-f08d421254bd,NaN,01/08/2023 12:52,01/08/2023 12:54,01-Aug-23,...,NaN,Vicki Collins,Dylan Kim,Michael Lee,>90,Morning,5,NaT,2023-08-01,2023-08-01
2,200814dd-27c7-4149-ba2b-bd3af3092880,Inbound,Order Related,Installation/demo,NaN,c273368d-b961-44cb-beaf-62d6fd6c00d5,NaN,01/08/2023 20:16,01/08/2023 20:38,01-Aug-23,...,NaN,Duane Norman,Jackson Park,William Kim,On Job Training,Evening,5,NaT,2023-08-01,2023-08-01
3,eb0d3e53-c1ca-42d3-8486-e42c8d622135,Inbound,Returns,Reverse Pickup Enquiry,NaN,5aed0059-55a4-4ec6-bb54-97942092020a,NaN,01/08/2023 20:56,01/08/2023 21:16,01-Aug-23,...,NaN,Patrick Flores,Olivia Wang,John Smith,>90,Evening,5,NaT,2023-08-01,2023-08-01
4,ba903143-1e54-406c-b969-46c52f92e5df,Inbound,Cancellation,Not Needed,NaN,e8bed5a9-6933-4aff-9dc6-ccefd7dcde59,NaN,01/08/2023 10:30,01/08/2023 10:32,01-Aug-23,...,NaN,Christopher Sanchez,Austin Johnson,Michael Lee,0-30,Morning,5,NaT,2023-08-01,2023-08-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85902,505ea5e7-c475-4fac-ac36-1d19a4cb610f,Inbound,Refund Related,Refund Enquiry,NaN,1b5a2b9c-a95f-405f-a42e-5b1b693f3dc9,NaN,30/08/2023 23:20,31/08/2023 07:22,31-Aug-23,...,NaN,Brandon Leon,Ethan Tan,William Kim,On Job Training,Morning,4,NaT,2023-08-30,2023-08-31
85903,44b38d3f-1523-4182-aba2-72917586647c,Inbound,Order Related,Seller Cancelled Order,Supported team customer executive good,d0e8a817-96d5-4ace-bb82-adec50398e22,NaN,31/08/2023 08:15,31/08/2023 08:17,31-Aug-23,...,NaN,Linda Foster,Noah Patel,Emily Chen,>90,Morning,5,NaT,2023-08-31,2023-08-31
85904,723bce2c-496c-4aa8-a64b-ca17004528f0,Inbound,Order Related,Order status enquiry,need to improve with proper details.,bdefe788-ccec-4eda-8ca4-51045e68db8a,NaN,31/08/2023 18:57,31/08/2023 19:02,31-Aug-23,...,NaN,Kimberly Martinez,Aiden Patel,Olivia Tan,On Job Training,Evening,5,NaT,2023-08-31,2023-08-31
85905,707528ee-6873-4192-bfa9-a491f1c08ab5,Inbound,Feedback,UnProfessional Behaviour,NaN,a031ec28-0c5e-450e-95b2-592342c40bc4,NaN,31/08/2023 19:59,31/08/2023 20:00,31-Aug-23,...,NaN,Daniel Martin,Olivia Suzuki,Olivia Tan,>90,Morning,4,NaT,2023-08-31,2023-08-31
85906,07c7a878-0d5a-42e0-97ef-de59abec0238,Inbound,Returns,Reverse Pickup Enquiry,NaN,3230db30-f8da-4c44-8636-ec76d1d3d4f3,NaN,31/08/2023 23:36,31/08/2023 23:37,31-Aug-23,...,NaN,Elizabeth Guerra,Nathan Patel,Jennifer Nguyen,On Job Training,Evening,5,NaT,2023-08-31,2023-08-31

In [14]:
cust_satisfaction_df['category'].value_counts()

category
Returns               44097
Order Related         23215
Refund Related         4550
Product Queries        3692
Shopzilla Related      2792
Payments related       2327
Feedback               2294
Cancellation           2212
Offers & Cashback       480
Others                   99
App/website              84
Onboarding related       65
Name: count, dtype: int64

The two variables that will be used for classification will be category and CSAT Score. These will be predicted based on the various factors that are in the data

### **CSAT Score**

We will begin by building a decision tree to predict the CSAT Score for the call. We could imagine that there a probably a number of factors that will go into determining what the customer satisfaction score will be

For this, I will create a modified dataset that removes variables that are not universal and that we whould expect to not have any predictive value. Unique ID and Order ID are two such variables. Furthermore, I will create several new variables based on the existing variables to help add more detail to the

#### **Exploratory Analysis**

In [23]:
keep_cols = [1,2,3,10,11,12,14,15,16,17,20,21,22,19]

In [24]:
csat_df = cust_satisfaction_df.iloc[:,keep_cols]

In [30]:
csat_df.head(5)

,channel_name,category,Sub-category,Customer_City,Product_category,Item_price,Agent_name,Supervisor,Manager,Tenure Bucket,order_date,issue_date,response_date,CSAT Score
0,Outcall,Product Queries,Life Insurance,NaN,NaN,NaN,Richard Buchanan,Mason Gupta,Jennifer Nguyen,On Job Training,NaT,2023-08-01,2023-08-01,5
1,Outcall,Product Queries,Product Specific Information,NaN,NaN,NaN,Vicki Collins,Dylan Kim,Michael Lee,>90,NaT,2023-08-01,2023-08-01,5
2,Inbound,Order Related,Installation/demo,NaN,NaN,NaN,Duane Norman,Jackson Park,William Kim,On Job Training,NaT,2023-08-01,2023-08-01,5
3,Inbound,Returns,Reverse Pickup Enquiry,NaN,NaN,NaN,Patrick Flores,Olivia Wang,John Smith,>90,NaT,2023-08-01,2023-08-01,5
4,Inbound,Cancellation,Not Needed,NaN,NaN,NaN,Christopher Sanchez,Austin Johnson,Michael Lee,0-30,NaT,2023-08-01,2023-08-01,5

Make additional changes to the data to clean up the available features

1. Customer City --> Remove this
2. Item Price --> Binned value
3. Tenure Bucket --> Change to categorical
4. CSAT Score --> Change to categorical
5. Create a time to response variable based on issue_date and response_date variable

In [42]:
csat_df['Product_category'].value_counts()

Product_category
Electronics                    4706
LifeStyle                      4118
Books & General merchandise    3323
Mobile                         1758
Home                           1328
Home Appliences                1300
Furniture                       471
Affiliates                      166
GiftCard                         26
Name: count, dtype: int64

### **Category**

For this, we will look to build a classifier that will identify the category of the issue based on several factors related to the customer issue

#### **Exploratory Analysis**