#### DATA 622 - Homework 1

- Are the columns of your data correlated?
- Are there labels in your data? Did that impact your choice of algorithm?
- What are the pros and cons of each algorithm you selected?
- How your choice of algorithm relates to the datasets (was your choice of algorithm impacted by the datasets you chose)?
- Which result will you trust if you need to make a business decision?
- Do you think an analysis could be prone to errors when using too much data, or when using the least amount possible?
- How does the analysis between data sets compare?

#### Datasets

For this assignment, I used the following datasets from Kaggle:

1. [Coursera Data](https://www.kaggle.com/datasets/elvinrustam/coursera-dataset?resource=download)
2. [Loan Default Prediction](https://www.kaggle.com/datasets/hemanthsai7/loandefault)

### **A. Setup**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [3]:
from sklearn.tree import DecisionTreeRegressor

In [4]:
df1 = pd.read_csv('data/CourseraDataset-Clean.csv')
df2 = pd.read_csv('data/train.csv')

In [5]:
##Set pandas options for columns and rows being displayed

pd.set_option('display.max_columns',25)

### **B. Coursera Data**

This dataset represents courses that are offered by Coursera. While the data represents the specific program catalog of Coursera, we can 

This dataset consists of both numerical and text based values. Additionally, we see that there are 10 fields that are labeled as object data types and 3 fields that are of numerical type. Overall the dataset is relatively small and is easy to evaluate in Python without having to utilize any additional computational resources.

This dataset could be considered to be a medium sized dataset. It has 8K rows and only 13 different features. There are a number of values in the dataset that are unique to the course and thus not something that has much meaning to help us understand the overall dataset. For example, the course URL is not something that's generalizable and thus not really worth exploring in a summary manner

#### **Exploratory Analysis**

Some of the questions of interest in exloring the dataset are:

- What are the top 10 institutions based on number of courses offered?
- How many courses does Coursera offer by category type?
- How many courses does the Coursera offer by course level?
- Are there differences in course ratings based on the institution?
- Are there differences in the number of reviews that users provide based on course level?

In [6]:
df1.shape

(8370, 13)

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8370 entries, 0 to 8369
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Course Title                    8370 non-null   object
 1   Rating                          8370 non-null   float64
 2   Level                           8370 non-null   object
 3   Schedule                        8370 non-null   object
 4   What you will learn             8370 non-null   object
 5   Skill gain                      8370 non-null   object
 6   Modules                         8337 non-null   object
 7   Instructor                      8282 non-null   object
 8   Offered By                      8370 non-null   object
 9   Keyword                         8370 non-null   object
 10  Course Url                      8370 non-null   object
 11  Duration to complete (Approx.)  8370 non-null   float64
 12  Number of Review                8370 non-null   int64
dtypes: float64(2), int64(1), object(10)
memory usage: 850.2+ KB

In [8]:
pd.DataFrame(df1.dtypes).reset_index().value_counts(0)

0
object     10
float64     2
int64       1
Name: count, dtype: int64

In [9]:
df1.head()

,Course Title,Rating,Level,Schedule,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url,Duration to complete (Approx.),Number of Review
0,Fashion as Design,4.8,Beginner level,Flexible schedule,Not specified,"Art History, Art, History, Creativity","Introduction, Heroes, Silhouettes, Coutures, L...","Anna Burckhardt, Paola Antonelli, Michelle Mil...",The Museum of Modern Art,Arts and Humanities,https://www.coursera.org/learn/fashion-design,20.0,2813
1,Modern American Poetry,4.4,Beginner level,Flexible schedule,Not specified,Not specified,"Orientation, Module 1, Module 2, Module 3, Mod...",Cary Nelson,University of Illinois at Urbana-Champaign,Arts and Humanities,https://www.coursera.org/learn/modern-american...,34.0,100
2,Pixel Art for Video Games,4.5,Beginner level,Flexible schedule,Not specified,Not specified,"Week 1: Introduction to Pixel Art, Week 2: Pix...","Andrew Dennis, Ricardo Guimaraes",Michigan State University,Arts and Humanities,https://www.coursera.org/learn/pixel-art-video...,9.0,227
3,Distribución digital de la música independiente,0.0,Beginner level,Flexible schedule,Not specified,Not specified,"Semana 1, Semana 2, Semana 3, Semana 4",Eduardo de la Vara Brown.,SAE Institute México,Arts and Humanities,https://www.coursera.org/learn/distribucion-di...,8.0,0
4,The Blues: Understanding and Performing an Ame...,4.8,Beginner level,Flexible schedule,Students will be able to describe the blues as...,"Music, Chord, Jazz, Jazz Improvisation","Blues Progressions – Theory and Practice , Blu...",Dariusz Terefenko,University of Rochester,Arts and Humanities,https://www.coursera.org/learn/the-blues,11.0,582

In [10]:
df1['Offered By'].value_counts()[df1['Offered By'].value_counts() >=50]

Offered By
University of Colorado Boulder                        408
Google                                                307
University of Michigan                                294
IBM                                                   289
Coursera Project Network                              279
Johns Hopkins University                              272
Google Cloud                                          225
University of Pennsylvania                            223
University of Illinois at Urbana-Champaign            200
University of Colorado System                         133
Duke University                                       124
University of California, Irvine                      120
DeepLearning.AI                                       112
Arizona State University                              112
Universidad Nacional Autónoma de México               108
University of California San Diego                    101
University of California, Davis                       101
Yale University                                       101
Rice University                                        99
Meta                                                   96
University of Minnesota                                91
Stanford University                                    90
Imperial College London                                89
University of Geneva                                   81
Microsoft                                              79
Tecnológico de Monterrey                               72
Universitat Autònoma de Barcelona                      70
University of Toronto                                  70
École Polytechnique Fédérale de Lausanne               68
University of Virginia                                 67
National Taiwan University                             66
Universidad de los Andes                               66
The Hong Kong University of Science and Technology     62
Berklee                                                54
LearnQuest                                             53
Alfaisal University | KLD                              53
The University of Edinburgh                            52
Pontificia Universidad Católica de Chile               52
The State University of New York                       51
Macquarie University                                   50
Name: count, dtype: int64

In [11]:
df1['Offered By'].value_counts().head(15)

Offered By
University of Colorado Boulder                408
Google                                        307
University of Michigan                        294
IBM                                           289
Coursera Project Network                      279
Johns Hopkins University                      272
Google Cloud                                  225
University of Pennsylvania                    223
University of Illinois at Urbana-Champaign    200
University of Colorado System                 133
Duke University                               124
University of California, Irvine              120
DeepLearning.AI                               112
Arizona State University                      112
Universidad Nacional Autónoma de México       108
Name: count, dtype: int64

In [12]:
pd.crosstab(df1['Keyword'],df1['Level'])

Level,Advanced level,Beginner level,Intermediate level,Not specified
Keyword,,,,
Arts and Humanities,1,278,77,120
Business,19,601,183,132
Computer Science,48,538,333,61
DataScience,50,550,300,64
Health,15,582,243,146
Information Technology,25,519,260,48
Math and Logic,12,253,146,69
Personal Development,11,616,156,153
Physical Science and Engineering,66,329,266,138
Social Sciences,15,605,167,175

In [13]:
pd.pivot_table(df1, index=['Keyword'], values=['Rating', 'Number of Review','Duration to complete (Approx.)'], \
               aggfunc={'Number of Review':len, 'Rating':np.mean,'Duration to complete (Approx.)':np.mean})

,Duration to complete (Approx.),Number of Review,Rating
Keyword,,,
Arts and Humanities,18.033613,476,3.929622
Business,30.850267,935,4.138824
Computer Science,42.272959,980,4.471939
DataScience,48.160270,964,4.480913
Health,21.878296,986,3.806085
Information Technology,20.206964,852,3.566315
Math and Logic,36.788542,480,4.307292
Personal Development,21.109776,936,3.714850
Physical Science and Engineering,22.076345,799,3.614393
Social Sciences,26.674809,962,4.016424

##### **Machine Learning**

To determine which ML algorithms to explore, we begin by defining a particular persona that we be reasonable for asking and answering questions of the data. For example, if I'm a program administrator and I'm interested in bringing in new courses, I may want to use an algorithm to predict the number of reviews that the course would generate. This can then be used to measure the actual number of received reviews and compare that against this benchmark. For this we can use a **Decision Tree** and **Linear Regression**

##### **Decision Tree**
We will use Decision Tree Regression to try and predict the number of reviews that we would expect a class to generate based on the course Level

In [14]:
keep_columns = ['Level','Schedule','Offered By','Duration to complete (Approx.)','Number of Review']
df1_simplified = df1.loc[:,keep_columns]

X = df1_simplified.loc[:,df1_simplified.columns != 'Number of Review']
y = df1_simplified['Number of Review']

In [15]:
df1_simplified

,Level,Schedule,Offered By,Duration to complete (Approx.),Number of Review
0,Beginner level,Flexible schedule,The Museum of Modern Art,20.0,2813
1,Beginner level,Flexible schedule,University of Illinois at Urbana-Champaign,34.0,100
2,Beginner level,Flexible schedule,Michigan State University,9.0,227
3,Beginner level,Flexible schedule,SAE Institute México,8.0,0
4,Beginner level,Flexible schedule,University of Rochester,11.0,582
...,...,...,...,...,...
8365,Intermediate level,Flexible schedule,Google Cloud,14.0,30
8366,Beginner level,Flexible schedule,University of California San Diego,11.0,0
8367,Not specified,Flexible schedule,"University of Maryland, College Park",9.0,0
8368,Intermediate level,Flexible schedule,Google Cloud,19.0,0
8369,Intermediate level,Hands-on learning,Coursera Project Network,2.0,0

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
pd.get_dummies(df1_simplified[['Level','Schedule','Duration to complete (Approx.)']],drop_first=True)

,Duration to complete (Approx.),Level_Beginner level,Level_Intermediate level,Level_Not specified,Schedule_Hands-on learning
0,20.0,True,False,False,False
1,34.0,True,False,False,False
2,9.0,True,False,False,False
3,8.0,True,False,False,False
4,11.0,True,False,False,False
...,...,...,...,...,...
8365,14.0,False,True,False,False
8366,11.0,True,False,False,False
8367,9.0,False,False,True,False
8368,19.0,False,True,False,False
8369,2.0,False,True,False,True

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state = 1211)

In [19]:
X_train

,Level,Schedule,Offered By,Duration to complete (Approx.)
8147,Intermediate level,Flexible schedule,University of Colorado System,8.0
4159,Not specified,Flexible schedule,Universitat Autònoma de Barcelona,5.0
1658,Intermediate level,Flexible schedule,"IBM , LearnQuest",120.0
6232,Beginner level,Flexible schedule,"Salesforce, SV Academy",20.0
5048,Intermediate level,Flexible schedule,University of Minnesota,9.0
...,...,...,...,...
1975,Not specified,Flexible schedule,University of Amsterdam,29.0
5606,Beginner level,Flexible schedule,National Taiwan University,9.0
377,Not specified,Flexible schedule,"Duke University, Creative Time",19.0
3801,Beginner level,Flexible schedule,University of Alberta,14.0
1343,Beginner level,Flexible schedule,University of Illinois at Urbana-Champaign,12.0

In [20]:
tree_clf = DecisionTreeRegressor()
tree_clf.fit(pd.get_dummies(X_train[['Level','Schedule','Duration to complete (Approx.)']],drop_first=True), y_train)

DecisionTreeRegressor()

In [21]:

tree_clf.score(pd.get_dummies(X_test[['Level','Schedule','Duration to complete (Approx.)']],drop_first=True),y_test)

0.008340442837432627

The classifier model had an R-squared of less than 1% when we compare the predicted values of the test data with the actual values

##### **Linear Regression**
We will use Linear Regression to try and predict the number of reviews that we would expect a class to generate based on the course Level

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
lm_clf = LinearRegression()

In [24]:
lm_clf.fit(pd.get_dummies(X_train[['Level','Schedule','Duration to complete (Approx.)']],drop_first=True), y_train)

LinearRegression()

In [25]:
lm_clf.score(pd.get_dummies(X_test[['Level','Schedule','Duration to complete (Approx.)']],drop_first=True),y_test)

0.010816613295368094

### **C. Loan Default Prediction**

This dataset provides information on loans that were issued and provides features on the loan and the individual who the loan was issued to, and then provides a label for whether or not the loan was defaulted on

In [26]:
df2.shape

(67463, 35)

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67463 entries, 0 to 67462
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            67463 non-null  int64
 1   Loan Amount                   67463 non-null  int64
 2   Funded Amount                 67463 non-null  int64
 3   Funded Amount Investor        67463 non-null  float64
 4   Term                          67463 non-null  int64
 5   Batch Enrolled                67463 non-null  object
 6   Interest Rate                 67463 non-null  float64
 7   Grade                         67463 non-null  object
 8   Sub Grade                     67463 non-null  object
 9   Employment Duration           67463 non-null  object
 10  Home Ownership                67463 non-null  float64
 11  Verification Status           67463 non-null  object
 12  Payment Plan                  67463 non-null  object
 13  Loan Title                    67463 non-null  object
 14  Debit to Income               67463 non-null  float64
 15  Delinquency - two years       67463 non-null  int64
 16  Inquires - six months         67463 non-null  int64
 17  Open Account                  67463 non-null  int64
 18  Public Record                 67463 non-null  int64
 19  Revolving Balance             67463 non-null  int64
 20  Revolving Utilities           67463 non-null  float64
 21  Total Accounts                67463 non-null  int64
 22  Initial List Status           67463 non-null  object
 23  Total Received Interest       67463 non-null  float64
 24  Total Received Late Fee       67463 non-null  float64
 25  Recoveries                    67463 non-null  float64
 26  Collection Recovery Fee       67463 non-null  float64
 27  Collection 12 months Medical  67463 non-null  int64
 28  Application Type              67463 non-null  object
 29  Last week Pay                 67463 non-null  int64
 30  Accounts Delinquent           67463 non-null  int64
 31  Total Collection Amount       67463 non-null  int64
 32  Total Current Balance         67463 non-null  int64
 33  Total Revolving Credit Limit  67463 non-null  int64
 34  Loan Status                   67463 non-null  int64
dtypes: float64(9), int64(17), object(9)
memory usage: 18.0+ MB

#### **Exploratory Analysis**

Some questions of interest in the exploration of the data include:

In [61]:
pd.set_option('display.max_columns',50)
pd.set_option('display.max_rows',100)

In [60]:
pd.get_option('display.max_rows')

50

In [29]:
df2.head(10)

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,Home Ownership,Verification Status,Payment Plan,Loan Title,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,Public Record,Revolving Balance,Revolving Utilities,Total Accounts,Initial List Status,Total Received Interest,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.362860,59,BAT2522922,11.135007,B,C4,MORTGAGE,176346.62670,Not Verified,n,Debt Consolidation,16.284758,1,0,13,0,24246,74.932551,7,w,2929.646315,0.102055,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.996920,59,BAT1586599,12.237563,C,D3,RENT,39833.92100,Source Verified,n,Debt consolidation,15.412409,0,0,12,0,812,78.297186,13,f,772.769385,0.036181,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.224550,59,BAT2136391,12.545884,F,D4,MORTGAGE,91506.69105,Source Verified,n,Debt Consolidation,28.137619,0,0,14,0,1843,2.073040,20,w,863.324396,18.778660,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.155850,59,BAT2428731,16.731201,C,C3,MORTGAGE,108286.57590,Source Verified,n,Debt consolidation,18.043730,1,0,7,0,13819,67.467951,12,w,288.173196,0.044131,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.926670,59,BAT5341619,15.008300,C,D4,MORTGAGE,44234.82545,Source Verified,n,Credit card refinancing,17.209886,1,3,13,1,1544,85.250761,22,w,129.239553,19.306646,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0
5,50509046,34631,30203,8635.931613,36,BAT4694572,17.246986,B,G5,RENT,98957.47561,Not Verified,n,Credit card refinancing,7.914333,3,2,16,0,2277,51.564476,20,w,464.818124,0.088584,5.043575,0.581688,0,INDIVIDUAL,32,0,42,51252,27480,0
6,32737431,30844,19773,15777.511830,59,BAT4808022,10.731432,C,C5,RENT,102391.82430,Verified,n,Home improvement,15.083911,0,0,11,0,14501,46.808804,37,w,525.738109,0.083528,3.167937,0.553076,0,INDIVIDUAL,71,0,3388,42069,31068,0
7,63151650,20744,10609,7645.014802,58,BAT2558388,13.993688,A,A5,OWN,61723.52014,Not Verified,n,Debt consolidation,29.829715,0,0,14,0,13067,23.936624,33,w,1350.245212,0.044965,0.098448,0.047589,0,INDIVIDUAL,87,0,48,184909,43303,0
8,4279662,9299,11238,13429.456610,59,BAT5341619,11.178457,G,C2,MORTGAGE,63205.09072,Verified,n,Credit card refinancing,26.244710,0,0,6,0,549,15.947386,17,w,4140.198978,0.017106,0.530214,0.216985,0,INDIVIDUAL,144,0,26,68126,7482,0
9,4431034,19232,8962,7004.097481,58,BAT2078974,5.520413,C,B5,RENT,42015.46586,Source Verified,n,Credit card refinancing,10.048549,1,0,11,0,1361,35.073345,30,f,2149.666963,0.008338,2.912215,0.886864,0,INDIVIDUAL,9,0,35,71650,14871,0

In [ ]:
df

In [82]:
df2.loc[:,df2.dtypes == 'object'].head()

,Batch Enrolled,Grade,Sub Grade,Employment Duration,Verification Status,Payment Plan,Loan Title,Initial List Status,Application Type
0,BAT2522922,B,C4,MORTGAGE,Not Verified,n,Debt Consolidation,w,INDIVIDUAL
1,BAT1586599,C,D3,RENT,Source Verified,n,Debt consolidation,f,INDIVIDUAL
2,BAT2136391,F,D4,MORTGAGE,Source Verified,n,Debt Consolidation,w,INDIVIDUAL
3,BAT2428731,C,C3,MORTGAGE,Source Verified,n,Debt consolidation,w,INDIVIDUAL
4,BAT5341619,C,D4,MORTGAGE,Source Verified,n,Credit card refinancing,w,INDIVIDUAL

In [100]:
pd.DataFrame(df2.dtypes).reset_index().rename(columns={0:'dtype'}).sort_values(by='dtype').reset_index()

    level_0                         index    dtype
0         0                            ID    int64
1        32         Total Current Balance    int64
2        31       Total Collection Amount    int64
3        30           Accounts Delinquent    int64
4        29                 Last week Pay    int64
5        27  Collection 12 months Medical    int64
6        21                Total Accounts    int64
7        19             Revolving Balance    int64
8        18                 Public Record    int64
9        33  Total Revolving Credit Limit    int64
10       16         Inquires - six months    int64
11       15       Delinquency - two years    int64
12       17                  Open Account    int64
13       34                   Loan Status    int64
14        1                   Loan Amount    int64
15        2                 Funded Amount    int64
16        4                          Term    int64
17        3        Funded Amount Investor  float64
18       26       Collection Recovery Fee  float64
19       25                    Recoveries  float64
20       24       Total Received Late Fee  float64
21       23       Total Received Interest  float64
22       20           Revolving Utilities  float64
23       10                Home Ownership  float64
24       14               Debit to Income  float64
25        6                 Interest Rate  float64
26       22           Initial List Status   object
27       12                  Payment Plan   object
28        7                         Grade   object
29        8                     Sub Grade   object
30        5                Batch Enrolled   object
31       28              Application Type   object
32        9           Employment Duration   object
33       11           Verification Status   object
34       13                    Loan Title   object

In [103]:
df2.iloc[:,9].unique()

array(['MORTGAGE', 'RENT', 'OWN'], dtype=object)

In [111]:
pd.pivot_table(df2,index=['Application Type'], values=['Loan Amount'],aggfunc=[np.median,np.max, np.min])

                      median        amax        amin
                 Loan Amount Loan Amount Loan Amount
Application Type
INDIVIDUAL           16072.5       35000        1014
JOINT                16396.0       34684        2797

#### **Machine Learning**

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cluster import KMeans

In [112]:
from sklearn.preprocessing import OneHotEncoder

In [35]:
X = df2.loc[:,df2.columns!='Loan Status']
y = df2['Loan Status']

In [159]:
X.loc[:,X.dtypes == 'int']

,ID,Loan Amount,Funded Amount,Term,Delinquency - two years,Inquires - six months,Open Account,Public Record,Revolving Balance,Total Accounts,Collection 12 months Medical,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit
0,65087372,10000,32236,59,1,0,13,0,24246,7,0,49,0,31,311301,6619
1,1450153,3609,11940,59,0,0,12,0,812,13,0,109,0,53,182610,20885
2,1969101,28276,9311,59,0,0,14,0,1843,20,0,66,0,34,89801,26155
3,6651430,11170,6954,59,1,0,7,0,13819,12,0,39,0,40,9189,60214
4,14354669,16890,13226,59,1,3,13,1,1544,22,0,18,0,430,126029,22579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67458,16164945,13601,6848,59,1,0,13,0,4112,19,0,69,0,48,181775,34301
67459,35182714,8323,11046,59,0,0,12,0,9737,14,0,14,0,37,22692,8714
67460,16435904,15897,32921,59,0,0,7,1,2195,9,0,137,0,17,176857,42330
67461,5300325,16567,4975,59,0,0,14,0,1172,15,0,73,0,61,361339,39075
67462,65443173,15353,29875,59,0,0,30,0,8762,16,0,54,0,47,196960,66060

In [163]:
X = pd.get_dummies(df2.loc[:,['Loan Amount','Grade','Employment Duration','Verification Status']],dtype=int,drop_first=True)
y = df2['Loan Status']

In [154]:
pd.get_dummies(X.loc[:,X.dtypes == 'object'],dtype=int)

,Batch Enrolled_BAT1104812,Batch Enrolled_BAT1135695,Batch Enrolled_BAT1184694,Batch Enrolled_BAT1467036,Batch Enrolled_BAT1586599,Batch Enrolled_BAT1761981,Batch Enrolled_BAT1766061,Batch Enrolled_BAT1780517,Batch Enrolled_BAT1930365,Batch Enrolled_BAT2003848,Batch Enrolled_BAT2078974,Batch Enrolled_BAT2136391,Batch Enrolled_BAT224923,Batch Enrolled_BAT2252229,Batch Enrolled_BAT2333412,Batch Enrolled_BAT2428731,Batch Enrolled_BAT2522922,Batch Enrolled_BAT2558388,Batch Enrolled_BAT2575549,Batch Enrolled_BAT2803411,Batch Enrolled_BAT2833642,Batch Enrolled_BAT3193689,Batch Enrolled_BAT3461431,Batch Enrolled_BAT3726927,Batch Enrolled_BAT3865626,...,Loan Title_conso,Loan Title_consolidate,Loan Title_consolidation,Loan Title_consolidation loan,Loan Title_credit card,Loan Title_credit card consolidation,Loan Title_credit card refinance,Loan Title_credit pay off,Loan Title_debt,Loan Title_debt consolidation,Loan Title_debt consolidation loan,Loan Title_debt loan,Loan Title_get out of debt,Loan Title_home improvement,Loan Title_loan1,Loan Title_pay off bills,Loan Title_payoff,Loan Title_personal,Loan Title_refi,Loan Title_relief,Loan Title_vacation,Initial List Status_f,Initial List Status_w,Application Type_INDIVIDUAL,Application Type_JOINT
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
2,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67458,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
67459,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
67460,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
67461,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
67462,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0

In [164]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33, random_state=1211)

For this dataset we can build an algorithm to predict the Loan Status given several factors. The algorithms we will use for this are:

1. Logistic Regression
2. K-Nearest Neighbors

Additionally, we will see if there are groupings amongst users based on certain characteristics. For this we will use K-Means clustering

##### Classification
For the classification model, I decided to use a Logistic Regression and KNN algorithm.

1. Logistic Regression

In [165]:
clf = LogisticRegression()
clf.fit(X_train, y_train)

LogisticRegression()

In [166]:
clf.score(X_test,y_test)

0.909041908098639

2. K-Nearest Neighbors

In [171]:
clf = KNeighborsClassifier(n_neighbors=5)

In [172]:
clf.fit(X_train, y_train)

KNeighborsClassifier()

In [173]:
clf.score(X_test, y_test)

0.9031127880339577

#### Clustering
For the clustering, I decided to use the K-means clustering algorithm

1. K-Means Clustering

In [174]:
clf = KMeans()

In [175]:
clf.fit(X_train)

/Users/korymartin/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans()

### Conclusion
- Are the columns of your data correlated?
- Are there labels in your data? Did that impact your choice of algorithm?
- What are the pros and cons of each algorithm you selected?
- How your choice of algorithm relates to the datasets (was your choice of algorithm impacted by the datasets you chose)?
- Which result will you trust if you need to make a business decision?
- Do you think an analysis could be prone to errors when using too much data, or when using the least amount possible?
- How does the analysis between data sets compare?