#### DATA 622 - Homework 1

- Are the columns of your data correlated?
- Are there labels in your data? Did that impact your choice of algorithm?
- What are the pros and cons of each algorithm you selected?
- How your choice of algorithm relates to the datasets (was your choice of algorithm impacted by the datasets you chose)?
- Which result will you trust if you need to make a business decision?
- Do you think an analysis could be prone to errors when using too much data, or when using the least amount possible?
- How does the analysis between data sets compare?

#### Datasets

For this assignment, I used the following datasets from Kaggle:

1. [Coursera Data](https://www.kaggle.com/datasets/elvinrustam/coursera-dataset?resource=download)
2. [Loan Default Prediction](https://www.kaggle.com/datasets/hemanthsai7/loandefault)

### **A. Setup**

In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [79]:
df1 = pd.read_csv('data/archive/CourseraDataset-Clean.csv')
df2 = pd.read_csv('data/archive2/train.csv')

In [78]:
##Set pandas options for columns and rows being displayed

pd.set_option('display.max_columns',25)

### **B. Coursera Data**

This dataset represents courses that are offered by Coursera. While the data represents the specific program catalog of Coursera, we can 

This dataset consists of both numerical and text based values. Additionally, we see that there are 10 fields that are labeled as object data types and 3 fields that are of numerical type. Overall the dataset is relatively small and is easy to evaluate in Python without having to utilize any additional computational resources.

This dataset could be considered to be a medium sized dataset. It has 8K rows and only 13 different features. There are a number of values in the dataset that are unique to the course and thus not something that has much meaning to help us understand the overall dataset. For example, the course URL is not something that's generalizable and thus not really worth exploring in a summary manner

#### **Exploratory Analysis**

Some of the questions of interest in exloring the dataset are:

- What are the top 10 institutions based on number of courses offered?
- How many courses does Coursera offer by category type?
- How many courses does the Coursera offer by course level?
- Are there differences in course ratings based on the institution?
- Are there differences in the number of reviews that users provide based on course level?

In [8]:
df1.shape

(8370, 13)

In [70]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8370 entries, 0 to 8369
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Course Title                    8370 non-null   object
 1   Rating                          8370 non-null   float64
 2   Level                           8370 non-null   object
 3   Schedule                        8370 non-null   object
 4   What you will learn             8370 non-null   object
 5   Skill gain                      8370 non-null   object
 6   Modules                         8337 non-null   object
 7   Instructor                      8282 non-null   object
 8   Offered By                      8370 non-null   object
 9   Keyword                         8370 non-null   object
 10  Course Url                      8370 non-null   object
 11  Duration to complete (Approx.)  8370 non-null   float64
 12  Number of Review                8370 non-null   int64
dtypes: float64(2), int64(1), object(10)
memory usage: 850.2+ KB

In [53]:
pd.DataFrame(df1.dtypes).reset_index().value_counts(0)

0
object     10
float64     2
int64       1
Name: count, dtype: int64

In [63]:
df1.head()

,Course Title,Rating,Level,Schedule,What you will learn,Skill gain,Modules,Instructor,Offered By,Keyword,Course Url,Duration to complete (Approx.),Number of Review
0,Fashion as Design,4.8,Beginner level,Flexible schedule,Not specified,"Art History, Art, History, Creativity","Introduction, Heroes, Silhouettes, Coutures, L...","Anna Burckhardt, Paola Antonelli, Michelle Mil...",The Museum of Modern Art,Arts and Humanities,https://www.coursera.org/learn/fashion-design,20.0,2813
1,Modern American Poetry,4.4,Beginner level,Flexible schedule,Not specified,Not specified,"Orientation, Module 1, Module 2, Module 3, Mod...",Cary Nelson,University of Illinois at Urbana-Champaign,Arts and Humanities,https://www.coursera.org/learn/modern-american...,34.0,100
2,Pixel Art for Video Games,4.5,Beginner level,Flexible schedule,Not specified,Not specified,"Week 1: Introduction to Pixel Art, Week 2: Pix...","Andrew Dennis, Ricardo Guimaraes",Michigan State University,Arts and Humanities,https://www.coursera.org/learn/pixel-art-video...,9.0,227
3,Distribución digital de la música independiente,0.0,Beginner level,Flexible schedule,Not specified,Not specified,"Semana 1, Semana 2, Semana 3, Semana 4",Eduardo de la Vara Brown.,SAE Institute México,Arts and Humanities,https://www.coursera.org/learn/distribucion-di...,8.0,0
4,The Blues: Understanding and Performing an Ame...,4.8,Beginner level,Flexible schedule,Students will be able to describe the blues as...,"Music, Chord, Jazz, Jazz Improvisation","Blues Progressions – Theory and Practice , Blu...",Dariusz Terefenko,University of Rochester,Arts and Humanities,https://www.coursera.org/learn/the-blues,11.0,582

In [64]:
df1['Offered By'].value_counts()[df1['Offered By'].value_counts() >=50]

Offered By
University of Colorado Boulder                        408
Google                                                307
University of Michigan                                294
IBM                                                   289
Coursera Project Network                              279
Johns Hopkins University                              272
Google Cloud                                          225
University of Pennsylvania                            223
University of Illinois at Urbana-Champaign            200
University of Colorado System                         133
Duke University                                       124
University of California, Irvine                      120
DeepLearning.AI                                       112
Arizona State University                              112
Universidad Nacional Autónoma de México               108
University of California San Diego                    101
University of California, Davis                       101
Yale University                                       101
Rice University                                        99
Meta                                                   96
University of Minnesota                                91
Stanford University                                    90
Imperial College London                                89
University of Geneva                                   81
Microsoft                                              79
Tecnológico de Monterrey                               72
Universitat Autònoma de Barcelona                      70
University of Toronto                                  70
École Polytechnique Fédérale de Lausanne               68
University of Virginia                                 67
National Taiwan University                             66
Universidad de los Andes                               66
The Hong Kong University of Science and Technology     62
Berklee                                                54
LearnQuest                                             53
Alfaisal University | KLD                              53
The University of Edinburgh                            52
Pontificia Universidad Católica de Chile               52
The State University of New York                       51
Macquarie University                                   50
Name: count, dtype: int64

In [66]:
df1['Offered By'].value_counts().head(15)

Offered By
University of Colorado Boulder                408
Google                                        307
University of Michigan                        294
IBM                                           289
Coursera Project Network                      279
Johns Hopkins University                      272
Google Cloud                                  225
University of Pennsylvania                    223
University of Illinois at Urbana-Champaign    200
University of Colorado System                 133
Duke University                               124
University of California, Irvine              120
DeepLearning.AI                               112
Arizona State University                      112
Universidad Nacional Autónoma de México       108
Name: count, dtype: int64

In [20]:
pd.crosstab(df1['Keyword'],df1['Level'])

Level,Advanced level,Beginner level,Intermediate level,Not specified
Keyword,,,,
Arts and Humanities,1,278,77,120
Business,19,601,183,132
Computer Science,48,538,333,61
DataScience,50,550,300,64
Health,15,582,243,146
Information Technology,25,519,260,48
Math and Logic,12,253,146,69
Personal Development,11,616,156,153
Physical Science and Engineering,66,329,266,138
Social Sciences,15,605,167,175

In [71]:
pd.pivot_table(df1, index=['Keyword'], values=['Rating', 'Number of Review','Duration to complete (Approx.)'], \
               aggfunc={'Number of Review':len, 'Rating':np.mean,'Duration to complete (Approx.)':np.mean})

,Duration to complete (Approx.),Number of Review,Rating
Keyword,,,
Arts and Humanities,18.033613,476,3.929622
Business,30.850267,935,4.138824
Computer Science,42.272959,980,4.471939
DataScience,48.160270,964,4.480913
Health,21.878296,986,3.806085
Information Technology,20.206964,852,3.566315
Math and Logic,36.788542,480,4.307292
Personal Development,21.109776,936,3.714850
Physical Science and Engineering,22.076345,799,3.614393
Social Sciences,26.674809,962,4.016424

##### **Machine Learning**

To determine which ML algorithms to explore, we begin by defining a particular persona that we be reasonable for asking and answering questions of the data. For example, if I'm a program administrator and I'm interested in bringing in new courses, I may want to use an algorithm to predict the number of reviews that the course would generate. This can then be used to measure the actual number of received reviews and compare that against this benchmark. For this we can use a **Decision Tree** and **Linear Regression**

##### Decision Tree

##### Linear Regression

### **C. Loan Default Prediction**

This dataset provides information on loans that were issued and provides features on the loan and the individual who the loan was issued to, and then provides a label for whether or not the loan was defaulted on

In [11]:
df2.shape

(67463, 35)

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67463 entries, 0 to 67462
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            67463 non-null  int64
 1   Loan Amount                   67463 non-null  int64
 2   Funded Amount                 67463 non-null  int64
 3   Funded Amount Investor        67463 non-null  float64
 4   Term                          67463 non-null  int64
 5   Batch Enrolled                67463 non-null  object
 6   Interest Rate                 67463 non-null  float64
 7   Grade                         67463 non-null  object
 8   Sub Grade                     67463 non-null  object
 9   Employment Duration           67463 non-null  object
 10  Home Ownership                67463 non-null  float64
 11  Verification Status           67463 non-null  object
 12  Payment Plan                  67463 non-null  object
 13  Loan Title                    67463 non-null  object
 14  Debit to Income               67463 non-null  float64
 15  Delinquency - two years       67463 non-null  int64
 16  Inquires - six months         67463 non-null  int64
 17  Open Account                  67463 non-null  int64
 18  Public Record                 67463 non-null  int64
 19  Revolving Balance             67463 non-null  int64
 20  Revolving Utilities           67463 non-null  float64
 21  Total Accounts                67463 non-null  int64
 22  Initial List Status           67463 non-null  object
 23  Total Received Interest       67463 non-null  float64
 24  Total Received Late Fee       67463 non-null  float64
 25  Recoveries                    67463 non-null  float64
 26  Collection Recovery Fee       67463 non-null  float64
 27  Collection 12 months Medical  67463 non-null  int64
 28  Application Type              67463 non-null  object
 29  Last week Pay                 67463 non-null  int64
 30  Accounts Delinquent           67463 non-null  int64
 31  Total Collection Amount       67463 non-null  int64
 32  Total Current Balance         67463 non-null  int64
 33  Total Revolving Credit Limit  67463 non-null  int64
 34  Loan Status                   67463 non-null  int64
dtypes: float64(9), int64(17), object(9)
memory usage: 18.0+ MB

#### **Exploratory Analysis**

Some questions of interest in the exploration of the data include:

In [35]:
df2.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,Home Ownership,Verification Status,Payment Plan,Loan Title,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,Public Record,Revolving Balance,Revolving Utilities,Total Accounts,Initial List Status,Total Received Interest,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,176346.62670,Not Verified,n,Debt Consolidation,16.284758,1,0,13,0,24246,74.932551,7,w,2929.646315,0.102055,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,39833.92100,Source Verified,n,Debt consolidation,15.412409,0,0,12,0,812,78.297186,13,f,772.769385,0.036181,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,91506.69105,Source Verified,n,Debt Consolidation,28.137619,0,0,14,0,1843,2.073040,20,w,863.324396,18.778660,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,108286.57590,Source Verified,n,Debt consolidation,18.043730,1,0,7,0,13819,67.467951,12,w,288.173196,0.044131,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,44234.82545,Source Verified,n,Credit card refinancing,17.209886,1,3,13,1,1544,85.250761,22,w,129.239553,19.306646,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

#### **Machine Learning**

For this dataset we can build an algorithm to predict the Loan Status given several factors. The algorithms we will use for this are:

1. Logistic Regression
2. K-Nearest Neighbors

Additionally, we will see if there are groupings amongst users based on certain characteristics. For this we will use K-Means clustering

##### Classification

#### Clustering